$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;

.App {
  height: calc(100%);
  background: $greyLight;
  display: flex;
}

.navBar {
  width: 228px;
  height: 100%;
  background: $greyDark;
  padding: 10px;
  display: flex;
  flex-direction: column;
  .logo {
    padding: 1.5rem 0.8rem;
    svg {
      max-width: 130px;
      p {
        fill: white;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      color: $greyText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.8rem;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &.active {
        background: $greyLighter;
      }
      &:hover {
        color: white;
        font-weight: bold;
        background: $greyLighter;
      }
    }
  }
  .cookies {
    font-size: 0.6rem;
    color: $greyText;
    margin-top: auto;
    padding: 1rem;
    span {
      display: block;
      text-align: center;
    }
  }
}
.outerWrap {
  background: grey;
  height: 100vh;
  min-height: 100%;
}

.musicControls {
  background: $greyLighter;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 2;
}
